.card {
  margin: 24px;
  height: 300px;
  width: 500px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  position: relative;
  transition: 0.3s ease-in-out;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 4px 4px 14px 0px #373737;
  cursor: pointer;
}

.card .textbox {
  width: 95.3875px;
  height: auto;
  font-size: 11px;
  color: #fff;
  transform: translateX(50%);
  transition: 0.3s ease-in-out;
}

.card .textbox h1 {
  display: flex;

}

.card .picbox img {
  height: 130px;
  transform: translateX(65%);
  filter: drop-shadow(-5px 7px 11px black) opacity(0.9);
  transition: 0.3s ease-out;
}

.card:hover .textbox {
  transform: translateX(-200%);
}

.card:hover .picbox img {
  animation: translatescale 2s forwards;
}

@keyframes translatescale {
  0% {
    transform: translateX(65%) scale(1);
    filter: opacity(0.9);
  }

  50% {
    transform: translateX(-30%) scale(1);
    filter: opacity(0.9);
  }

  100% {
    transform: translateX(-30%) scale(2);
    filter: opacity(1);
  }
}

/* card-container */

.a {
  display: flex;
  justify-content: center;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 10px;
  justify-content: center;
}

/* modal */

.modal-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.card-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background: #1a1a1a;
  box-sizing: border-box;
  color: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pro-link-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.modal-img-box {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.modal-img {
  width: 250px;
  box-sizing: border-box;
  filter: drop-shadow(-5px 7px 11px black);
}

.modal-btn {
  margin: 20px 0; 
  background-color: #42255c;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease-in-out, box-shadow 0.3s;
}

.modal-btn:hover{
  background-color: #c770f0;
  color: #12121b;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2), 0px 8px 24px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px){
.modal-btn{
  font-size: 0.9em;
}
}

@media screen and (max-width: 700px) {
  .card-modal {
    width: 33rem;
  }

  .modal-img {
    width: 200px;
  }

  .card-container {
    flex-direction: column;
    align-content: center;
  }

}

@media screen and (max-width: 425px) {
  .card {
    height: 200px;
    width: 300px;
    margin-bottom: 0;
  }

  .card .textbox {
    font-size: 8px;
  }

  .card .picbox img {
    height: 78px;
  }

  .card-modal {
    width: 20rem;
  }

  .modal-img {
    width: 180px;
  }
  
  .card-modal h1{
    font-size: 1.5em;
  }
  
  .card-modal p{
    font-size: 0.8em;
  }

}