.preload-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #12121b;
    background-color: #1a1a1a;
    z-index: 10;
    transition: 0.8s ease-in-out;
    opacity: 0;
    display: none;
}

.preload-container.show {
    opacity: 1;
    display: block;
}

.preload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;

    width: 40%;
    max-width: 300px;
    height: 200px;
    padding: 20px;
}

.preload-text {
    font-family: 'Courier New', monospace;
    color: #d8dee9;
    font-size: 24px;
}


@media (max-width: 720px) {
    .preload-container.show {
        display: none;
    }
}