*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color:#12121b;
    overflow-x: hidden;
}

@media screen and (max-width: 768px){
    html, body{
        width: fit-content;
    }
}


