*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color:#12121b;
    overflow-x: hidden;
}

.fork-git a{
    text-decoration: none;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    background: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 5px 0px #c770f059;
    transition: 0.5s ease-in-out;
    font-size: 2em;
  }
   
  .fork-git a:hover{
    background: white;
    border-bottom: none;
    color: #c770f0;
  }

@media screen and (max-width: 768px){
    html, body{
        width: fit-content;
    }
    .fork-git a{
        right: 5%;
        width: 50px;
        height: 50px;
        font-size: 1.5em;
    }
}


