*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    /* min-width: 768px; */
}

body{
    background-color:#12121b;
    overflow-x: hidden;
}

@media only screen and (min-width: 200px) and (max-width: 768px){
    html, body{
        width: 768px;
        min-width: 200px;
    }
} 
